/* Tablet */ @media (min-width: 577px) and (max-width: 990px) {

    .listadofotos {
        display: none;
    }

    .menu-hamburgesa {
        display: none;
    }

    .iconos-nav img {
    margin-right: 8px;
}
    .nav-wrapper {
        box-shadow: none;
    }

    main { 
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-left: 15px;
        margin-top: 20px;
    }

    .left {
        display: flex;
        align-content: center;
        width: 95%;
        height: 500px;
    }

    .right {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .foto-producto {
        height: 90%;
    }

    .earbuds01 {
        margin-bottom: 20px;
        margin-top: 70px;
     
     }  

    .textos-producto {
        grid-column: span 2;
    }

    .pay-box {
        margin-top: 5px;
        height: 95%;
    }


    .iconos-redes {
        margin-left: 10px;                
        margin-right: 70px;
    }

    .footer-links {
       justify-content: space-around;
       margin-right: 0;
       margin-left: 30px;
       gap: 40px;
    }
        
/*Watches*/

    .left-watches {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 96%;
        height: 480px;
    }

    .watches {
        margin-top: 30px;
        height: 80%;
    }

    .listado-watches {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

}